<div class="news-bar">
  <div class="news-bar-title">Breaking news:</div>
  <div class="news-containter" *ngIf="news$ | async as someNews; else loading">
    <div class="news" *ngFor="let news of someNews; index as i" [@flyInOut]>
      {{ news }}
    </div>
  </div>
  <ng-template #loading>
    <div class="news-containter">
      <div class="news">Loading news...</div>
    </div>
  </ng-template>
</div>

<button (click)="enabled == 0 ? (enabled = -1) : (enabled = 0)">start</button
>{{ " " + enabled }}
