.news-bar {
  display: flex;
  flex-direction: row;
  background: #666;
  color: #fff;
  padding: 0rem;
  text-align: right;
}

.news-bar-title {
  background: #333;
  font-size: 1.5rem;
  padding: 1rem;
  width: max-content;
}

.news-containter {
  flex: 1;

  display: grid;
  grid-template: "news" auto / 100%;
  margin: 0rem 1rem;
  overflow: hidden;
  width: 100%;
}

.news {
  grid-area: news;
  padding: 1rem 0rem;
  color: #fff;
  font-size: 1.5rem;
  width: 100%;
}
